# Python
__pycache__/
*.py[cod]
*.sqlite3
*.venv
venv/
ENV/
env/
*.egg-info/

# Django
*.log
*.pot
*.pyc
*.pyo
db.sqlite3
media/
staticfiles/

# Docker
*.pid
*.sock
docker-compose.override.yml

# VSCode
.vscode/

# MacOS
.DS_Store